.big-card__container {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.big-card__title > h1 {
  font-size: 32px;
  margin-top: 12px;
}

.big-card__description {
  margin-top: 12px;
}

.big-card__description > p > a {
  color: #aaa;
}

.big-card__photo > img {
  width: 100%;
  max-width: 400px;
}
