<div class="big-card__container">
  <div class="big-card__photo">
    <img src="https://placehold.co/400x200" alt="" />
  </div>
  <div class="big-card__title">
    <h1>
      <a href="#"> Lorem, ipsum dolor </a>
    </h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, dolorem.
        Porro rerum enim sit, a corrupti id maiores nam eum officia culpa harum
        molestias veniam facilis voluptatibus deserunt aut laborum!
      </a>
    </p>
  </div>
</div>
