.small-card__container {
  width: 400px;
  margin-bottom: 20px;
}

.small-card__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.small-card__title > h1 {
  font-size: 20px;
}

.small-card__photo > img {
  width: 200px;
}

.small-card__container > hr {
  margin-top: 20px;
}
