<app-title></app-title>
<div class="articles__container">
  <div class="articles__main">
    <app-big-card
      id="1"
      photo="https://placehold.co/400x200"
      title="ABC"
      description="lorem"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      id="2"
      photo="https://placehold.co/200x100"
      title="ABC"
    ></app-small-card>
    <app-small-card
      id="3"
      photo="https://placehold.co/200x100"
      title="ABC"
    ></app-small-card>
    <app-small-card
      id="4"
      photo="https://placehold.co/200x100"
      title="ABC"
    ></app-small-card>
  </div>
</div>
