<app-title></app-title>
<div class="articles__container">
  <div class="articles__main">
    <app-big-card
      id="1"
      photo="https://placehold.co/400x200"
      title="Lorem ipsum dolor sit amet consectetur"
      description="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam voluptate odit molestiae eligendi eaque a nihil fugiat est repellat, maiores, rem magnam facilis impedit beatae, ipsum tenetur ea laboriosam exercitationem!"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      id="2"
      photo="https://placehold.co/200x100"
      title="Lorem ipsum dolor sit amet consectetur"
    ></app-small-card>
    <app-small-card
      id="3"
      photo="https://placehold.co/200x100"
      title="Lorem ipsum dolor sit amet consectetur"
    ></app-small-card>
    <app-small-card
      id="4"
      photo="https://placehold.co/200x100"
      title="Lorem ipsum dolor sit amet consectetur"
    ></app-small-card>
  </div>
</div>
